@media (prefers-color-scheme: light) {
    body {
        background: skyblue;
        color: orchid;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: #dcb;
    }
}
