:root {
    --brand-hue: 215;
    --primary-color: hsl(var(--brand-hue), 100%, 50%);
    --header-height: 3.5em;
}

.primary {
    color: var(--primary-color);
}

* {
    box-sizing: border-box;
}

body {
    background: #111;
    color: #eee;
    margin: 0;
    font-family: Segoe UI, Roboto, Ubuntu, Cantarell, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

header {
    background-color: hsl(var(--brand-hue), 31%, 16%);
    padding: 2px 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: var(--header-height);
    box-shadow: #000 0 0 6px;
    position: relative;    
}

header h1 {
    flex-grow: 1;
}

.layout {
    display: flex;
}

nav {
    flex-basis: 14em;
    flex-shrink: 0;
    padding: 0;
    background: #333;
    min-height: calc(100vh - var(--header-height));
}

nav > ul {
    max-height: 100vh;
    overflow: auto;
    padding: 1em 0 6em 0;
    margin: 0;
    position: sticky;
    top: 0;
}

main {
    flex-grow: 1;
    padding: 3em 2em;
}

a {
    cursor: pointer;
}

nav a.active {
    font-weight: bold;
}

:link, :visited {
    color: hsl(var(--brand-hue), 50%, 80%);
    text-decoration: none;
}

nav ol, nav ul {
    list-style: none;
    padding-left: 16px;
}

h1 {
    margin: 0;
}

figure {
    position: relative;
    outline: solid 1px #555;
    border-radius: 0.2em;
    overflow: hidden;
    margin: 2em;
}

figcaption {
    padding: 0.5em 1em;
    font: 1.2em monospace;
}

code {
    background-color: #444;
    padding: 0.2em;
}

figure code {
    display: block;
    padding: 1em;
    background-color: #333;
    border-bottom: solid 1px #666;
    white-space: pre;
    font-size: 130%;
}

output {
    display: block;
    padding: 1em;
    background-color: #000;
}

.tryit {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 0.5em 1em;
    background: #fff2;
}

@keyframes rotating {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


code .MultiLineComment         { color: #87a950; }
code .SingleLineComment        { color: #87a950; }

code .StringLiteral            { color: #CE8367; }
code .TemplateHead             { color: #CE8367; }
code .TemplateMiddle           { color: #CE8367; }
code .TemplateTail             { color: #CE8367; }

code .RegularExpressionLiteral { color: #D15036; }

code .NumericLiteral           { color: #B5CEA8; }

code .Punctuator               { color: #179FF1; }

code .JSXString                { color: #bbb; }
code .JSXIdentifier            { color: #cd56d6; }
code .JSXPunctuator            { color: #7A8080; }

code .IdentifierName           {  }
code .PrivateIdentifier        {  }

code .JSXText                  {  }
code .NoSubstitutionTemplate   {  }
