:root {
    --brand-hue: 215;
    --primary-color: hsl(var(--brand-hue), 100%, 50%);
    --header-height: 
}

.primary {
    color: var(--primary-color);
}

* {
    box-sizing: border-box;
}

body {
    background: #111;
    color: #eee;
    margin: 0;
    font-family: Segoe UI, Roboto, Ubuntu, Cantarell, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

header {
    background-color: hsl(var(--brand-hue), 31%, 16%);
    padding: 2px 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    flex-grow: 0.9;
}

.layout {
    display: flex;
}

nav {
    flex-basis: 14em;
    padding: 1em;
    background: #222;
}

main {
    flex-grow: 1;
    padding: 4em 2em;
}

a {
    color: hsl(var(--brand-hue), 50%, 80%);
    text-decoration: none;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}

figure {
    outline: solid 1px #555;
    border-radius: 0.2em;
    overflow: hidden;
}

code {
    display: block;
    padding: 1em;
    background-color: #222;
    border-bottom: solid 1px #666;
    white-space: pre;
    font-size: 140%;
}

output {
    display: block;
    padding: 1em;
}

@keyframes rotating {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
