@media (max-width: 720px) {
    .narrow-hide {
        display: none;
    }
}
  
:root {
    --brand-hue: 215;
    --primary-color: hsl(var(--brand-hue), 100%, 50%);
    --header-height: 3.5em;
}

html {
    margin: 0;
    padding: 0;
}
  
.primary {
    color: var(--primary-color);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: var(--header-height) 1fr;
    column-gap: 0.4em;
    height: 100vh;
    width: 100vw;
    min-width: 480px;
    background: #111;
    color: #eee;
    font-family: Segoe UI, Roboto, Ubuntu, Cantarell, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

header {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: hsl(var(--brand-hue), 31%, 16%);
    padding: 2px 1em;
}

h1 {
    margin: 0 1em 0 0;
}

button {
    line-height: 24px;
    margin: 0 8px;
    background-color: hsl(var(--brand-hue), 70%, 30%);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 4px 16px;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 1.5em;
    border-color: #444;
    margin: 0;
    text-wrap: nowrap;
    color: #eee;
    background-color: #222;
    border-color: #444;
    resize: none;
}
iframe {
    width: 100%;
    height: 100%;
}

.notification {
    position: fixed;
    padding: 1em;
    border-radius: 1.5em;
    font-size: 2rem;
    bottom: 1em;
    left: 1em;
    background-color: hsla(var(--brand-hue), 60%, 30%, 0.8);
    pointer-events: none;
}

@keyframes rotating {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

