@media (max-width: 720px) {
    .narrow-hide {
        display: none;
    }
}
  
:root {
    --brand-hue: 215;
    --primary-color: hsl(var(--brand-hue), 100%, 50%);
    --header-height: 3.5em;
    --button-height: 32px;
    --button-color: hsl(var(--brand-hue), 70%, 30%);
}

html {
    margin: 0;
    padding: 0;
    color-scheme: dark;
}

@keyframes rotating {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
  
.primary {
    color: var(--primary-color);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: auto 0.5em 1fr;
    grid-template-rows: var(--header-height) 1fr;
    height: 100vh;
    width: 100vw;
    min-width: 480px;
    background: #111;
    color: #eee;
    font-family: Segoe UI, Roboto, Ubuntu, Cantarell, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

header {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: hsl(var(--brand-hue), 31%, 16%);
    padding: 2px 1em;
}

h1 {
    margin: 0 1em 0 0;
}

button {
    line-height: 24px;
    margin: 0 8px;
    background-color: var(--button-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 4px 16px;
    white-space: nowrap;
    height: var(--button-height);
}

#sizer {
    cursor: col-resize;
    user-select: none;
}
iframe {
    width: 100%;
    height: 100%;
}

.notification {
    position: fixed;
    padding: 1em;
    border-radius: 1.5em;
    font-size: 2rem;
    bottom: 1em;
    left: 1em;
    background-color: hsla(var(--brand-hue), 60%, 30%, 0.8);
    pointer-events: none;
}

.drop-list {
    position: absolute;
}

.drop-list menu {
    padding: 0;
    margin: 6px;
    background-color: var(--button-color);
    border-radius: 8px;
    overflow: hidden;
}

.drop-list menu li {
    list-style: none;
    border-bottom: solid #111 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.drop-list menu li:hover {
    background: #fff2;
}

.drop-list menu li kbd {
    padding: 0 1em;
}

.drop-list menu li a {
    color: white;
    padding: 0 1em;
    line-height: 230%;
    text-decoration: none;
    display: block;
}

.drop-list menu li a.err {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 20em;
    overflow: hidden;
    display: inline-block;
    cursor: not-allowed;
    color: #bbb;    
}
